@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
    --white1: #EAE6E5;
    --white2: #eaac8b;
    --offwhite: #e2e6ff;
    --lighthomepage: #33099b;
    --accent: #4fffc7;
    --darkaccent: #45e3b1;
    --homepage: #5d00e0;
    --lines: #64ffc5;
    --blob: #64ffc5;
    --edge: #5f59ff;
    --lightaccent: #b2bfff;
    --textaccent: #a998ff;
    --title: #8bffda;
    --box: #8bffda;
}



body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /*background-image:*/
    /*        linear-gradient(to right, var(--box) 1px, transparent 1px),*/
    /*        linear-gradient(to bottom, var(--box) 1px, transparent 1px);*/
    /*background-size: 15px 15px;*/
    /*background-attachment:fixed;*/
}

.scroll-parent {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}

p {
    margin-top: 10px;
    font-size: 17px;
}

h1 {
    font-weight: 700;
    margin-top: 5px;
}

h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    z-index: 500;
    width: 30vw;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.blob {
    fill: var(--blob)
}

.blob2 {
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: black;
    box-shadow: 0 0 30px 10px black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.entire-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    z-index: 100;
}

.blobs {
    position: relative;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    z-index: 100;
    background-color: rgb(95, 55, 255);
}

.blob-overlay {
    visibility: hidden;
    position:relative;
    top:0;
    left:0;
    background: #fff;
    width:100%;
    height:100%;
    filter:contrast(20);
    -webkit-filter:contrast(20);
    mix-blend-mode: color-dodge;
}

.blob-overlay:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #00831b;
    mix-blend-mode: soft-light;
}


#blobGroup {
    width: 100%;
}

.blobCont {
    position: absolute;
    max-width: 100%;
    height: 100vh;
    top: 0;
    right:0;
}

.svgRect {
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;

}

.lines {
    position: absolute;
    transform: scale(.8,.9)translate(0vw, -1vh);
    visibility: hidden;

}

.lines path {
    stroke: var(--lines);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .4;
}


.filters {

}

.background-overlay {
    object-fit: cover;
    transform-origin: left;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
    top: 0;
    left: -10vw;
}

.background-cover {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 200;
    background-color: var(--homepage)
}

.background-overlay-cover svg {
    width: 100%;
    height: 100%;
}

.homepage-background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;

}

.homepage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.homepage-text{
    position: fixed;
    left: 3vw;
    bottom: 8vh;
    width: 50vw;
    padding: 0 15px;
    color: var(--white1);
    margin-bottom: 0px;
}

.greeting {
    font-family: 'Montserrat Alternates', sans-serif;

    font-size: 3.2vw;
    font-weight: 800;
    line-height: 1em;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color:var(--accent);
    color: var(--homepage);
}


.marie {
    font-family: 'Montserrat Alternates', sans-serif;
    display:inline-block;
    color: var(--accent);
    background-color:var(--homepage);
    /*border: 3px solid var(--box);*/
    /*padding: 10px 20px;*/
    border-radius: 8px 15px 8px 8px;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: -.01em;
    text-align: left;
    line-height: 1.3em;
    z-index: 1000;
    position: relative;
}

.im {
    -webkit-text-stroke-width: 2.4px;
    -webkit-text-stroke-color:var(--title);
    color: var(--homepage);

}

.description {
    margin-top: 30px;
    width: 80%;
    color: #ffffff;

}

.description p {
    /*font-weight: 300;*/
    font-size: 1.4vw;
    letter-spacing: .02em;
}

.emphasis {
    color: #ffffff;

}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkedin-button {
    background-color: var(--accent);
    height: 33px;
    width: 33px;
    -webkit-mask-box-image: url('../assets/linkedin.png');
    mask-image: url('../assets/linkedin.png');
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
}

.email-button {
    background-color: var(--accent);
    height: 33px;
    width: 33px;
    -webkit-mask-box-image: url('../assets/mail-icon.png');
    mask-image: url('../assets/mail-icon.png');
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
    margin-left: 8px;
}

.contact-button {
    background-color: var(--accent);
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
    padding: 0 10px;
    line-height: 33px;
    height: 33px;
    color: var(--homepage);
    margin-left: 15px;
    border-bottom: 2px solid var(--accent);
}

/*.progress-bar {*/
/*    position: fixed;*/
/*    bottom: 5vh;*/
/*    left: 4vw;*/
/*    z-index: 300;*/
/*    width: 30vw;*/
/*    height: 10px;*/
/*    border-radius: 7px;*/
/*    background-color: var(--accent)*/
/*}*/

.down-arrow {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    z-index: 400;
    background-color: var(--accent);
    height: 25px;
    width: 60px;
    -webkit-mask-box-image: url('../assets/down-arrow.png');
    mask-image: url('../assets/down-arrow.png');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

.page {
    position: relative;
    margin: 0;
    scroll-snap-align: start;

}

.page-1 {
    height: 100vh;
    width: 100vw;
    z-index: 300;
}

.page-title {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--accent);
    width: 90%;
    margin: 10px auto;
    font-size: 2vw;
    font-weight: 800;
    line-height: 1.25em;
}

.page-2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    /*position: sticky;*/
    /*bottom: 0;*/
    flex-direction: column;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

.project-wrapper {
    position: relative;
    width: 93vw;
    height: 88vh;
    margin: 0 auto;
}

.project-grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: 33vw 67vw;
    grid-template-rows: 80px auto;
    grid-template-areas:
    "list header"
    "list display";
}


.project-container-mask {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    right: 0;
    overflow: auto;
    float: right;
}

.project-container {
    border-radius: 7px;
    float: right;
    height: 100%;
    right: 0;
    position: absolute;
    overflow: visible;
    overflow-y: scroll;
    width: 93vw;
    display: flex;
    flex-direction: row;
}

.list-wrapper {
    grid-area: list;
    overflow-x: visible;
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    padding-left: 30px;
}

.list-background {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: -1;
    left: -40%;
}

.project-list {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 7px;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    color: white;
    direction: rtl;
    margin-bottom: 30px;
}

.project-list::-webkit-scrollbar {
    width: 18px;
}

/* Track */
.project-list::-webkit-scrollbar-track {
    background: var(--lighthomepage);
}

/* Handle */
.project-list::-webkit-scrollbar-thumb {
    background: var(--homepage);
    border-right: 1px solid var(--lighthomepage);
    border-radius: 7px 0 0 7px;

}

/* Handle on hover */
.project-list::-webkit-scrollbar-thumb:hover {
    background: #547bef;
}

.project {
    direction:ltr;
    display: inline-flex;
    flex-direction: row;
    float: left;
    width: 86%;
    padding: 5% 7%;
    background-color: var(--homepage);
    color: white
}

.project + .project {
    border-top: 1px solid rgb(56, 9, 171);
}

.selected {
    background-color: #5f38ff;
}

.selected > .project-text > .project-title {
    color: white;
}

.selected > .project-text > .project-tags  {
    color: rgb(231, 230, 255);
}

.selected > .project-text > .project-tags > .tag  {
    background-color: #547bef;
}

.project-text {
    width: 100%;
}

.project-title {
    color: white;
    font-size: 20px;

}

.project-description {
    margin-top:5px;
}

.project-tags {
    margin-top: 20px;
    color: rgb(231, 230, 255);
}

.tag {
    background-color: #8257f6;
    border-radius: 15px;
    padding: 2px 15px;
}

.tag + .tag {
    margin-left: 4px;
}

.project-display {
    border-radius: 7px;
    margin-left: 1.5%;
    overflow-y: auto;
    overflow-y: auto;
    grid-area: display;
    padding: 8%;
}

.display-header {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)) , var(--image-url) center center;
    background-size: cover;
    height: 40%;
    margin: 20px;
    border-radius: 8px;
    padding: 10px 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-repeat: no-repeat;
}

.display-date {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.display-title {
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.display-summary {
    margin: 30px 70px;
    opacity: .8;
}

.section-title {
    margin-top: 40px;
    color: #547bef;
    font-size: 20px;
}

.display-section {
    margin: 30px 70px;
}

.indented-note {
    font-style: italic;
    width: 85%;
    margin: 0 auto;
    opacity: .8;
}

#pdf {
    height: 600px;
    width: calc(100% - 50px);
    margin: 25px;
    border-radius: 7px;
}

.page-3 {
    height: 100vh;
    width: 100vw;
    /*top: 0;*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*position: sticky;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.page-3 > .page-title {
    height: 8vh;
    padding: 0vh 5vw;
    padding-top: 4vh;
    position: absolute;
    top: 0;

}

.illustration-page {
    height: 86vh;
    width: 95vw;
    padding-left: 5vw;
    margin: 0 auto;
    padding-top: 12vh;
    padding-bottom: 2vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.illustration-wrapper {
    overflow-y: hidden;
    width: 95vw;
    padding-left: 5vw;
    height: 88vh;
    margin: 0 auto;
}

.illustration-container {
    width: 100%;
    height: 100%;
    overflow-x: visible;
    display: flex;
    flex-direction: row;
    position: initial;
}

.illustration {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

.illustration + .illustration {
    margin-left: 25px;
}

.illustration-img {
    height: 70vh;
}

.painting-img {
    height: 80vh;
}

.illustration-text {
    margin: 10px 0;
}

.illustration-text > .project-title {
    color: var(--homepage);
    margin: 0 0;
}


.painting-caption {
    margin: 0;
    font-style: italic;
    color: grey;
    text-align: right;
}

.page-4 {
    height: 100vh;
    width: 100vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.about-me {
    height: 100vh;
    width: 100vw;
    z-index: 200;
    position: relative;
}

.about-me-photo-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 25vw;
    left: 5vw;
    top: 30vh;
    position: absolute;
}

.about-me-photo {
    width: 100%;
    border-radius: 3px;
}

.about-me-text {
    color: white;
    width: 25vw;
    position: absolute;
    left: 40vw;
    top: 33vh;
    transform: translateY(1000);
}

.about-me-description {
    margin-top: 20px;
    font-size: 20px;
    border-radius: 8px;
    position: relative;
}

.about-me-description p {
    font-size: 19px;
}

.about-me-title {
    transform: translateY(1000);
    margin-left: 0;
    position: absolute;
    bottom: 70%;
    width: 30vw;
    left: 5vw;
}

.about-me-title .page-title {
    margin-left: 0;
    color: var(--accent);
    font-size: 2.5vw;
}

.about-me-title span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--title);
    color: var(--homepage);
}

.about-lines-container {
    width: 150%;
    height: 130%;
    position: absolute;
    top: -18%;
    left: -38%;
}

.about-lines path {
    stroke: var(--lines);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .6;
}

.contact-me-background {
    visibility: hidden;
    height: 100vh;
    width: 30vw;
    position: absolute;
    right: 0;
    z-index: 99;
    background-color: var(--lighthomepage)
}
.contact-me-text {
    visibility: hidden;
    width: 23vw;
    position: absolute;
    right: 2vw;
    bottom: 5%;
    z-index: 100;
}

.skill-title {
    font-size: 19px;
    font-weight: 700;
    color: white;
    margin: 15px 0;
}

.skills-list {
    width: 20vw;
    overflow-wrap: normal;
    color: white;
}

.skills-list span {
    overflow-wrap: normal;
}

.skills-list > span {
    margin-right: 10px;
}

.gsap-marker-end, .gsap-marker-start, .gsap-marker-scroller-end, .gsap-marker-scroller-start {
    z-index: 2000;
}

.thanks {
    text-align: right;
    font-size: 20px;
    color: var(--homepage);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

